<div id="token">
  <div class="container">
    <div class="col-12">
      <div class="token-sect">
        <h2 class="token-generator">Gerador de tokens</h2>
        <button [disabled]="!checked" (click)="generateNewToken()" class="token-btn">Gerar um Token</button>
        <div class="generator" *ngFor="let tkn of tokens | async">
          <div class="generated" *ngIf="tkn.number !== null">
            <p class="token-generated">Já existe um token gerado</p>
            <small>Só é permitido gerar um  token por vez!</small>
          </div>
          <div class="token-return">
            <p class="token-number">{{ tkn.number }}</p>
            <p class="hide">{{hasToken()}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>