#token {
    text-align: center;
    color: white;
    padding-top: 2rem;
}

.token-generated {
    color: white;
    font-size: 1rem;
}

.token-btn {
    background-color: rgb(202, 112, 3);
    border: none;
    color: white;
    padding: 1rem;
}

.token-btn:disabled {
    background-color: rgb(83, 83, 83);
    color: rgb(47, 47, 47);
    border: none;
    padding: 1rem;
}

.token-generator {
    color: white;
    font-size: 2rem;
}

.token-number {
    color: white;
    font-size: 1.5rem;
}

.hide {
    color: transparent;
}